.orangeStart {
    -fx-background-color:
            linear-gradient(rgb(180,80,0), rgb(255,228,196)),
            radial-gradient(center 70% -40%, radius 50%, rgb(255,228,196) 20%, rgb(180,80,0) 30%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-text-fill: rgb(255,228,196);
    -fx-padding: 10;
}

.orangeStart {
    -fx-background-color:
            linear-gradient(rgb(180,80,0), rgb(255,228,196)),
            radial-gradient(center 70% -40%, radius 50%, rgb(255,228,196) 20%, rgb(180,80,0) 30%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: rgb(255,228,196);
}